@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "PT Serif";
}
html {
	position: relative;
}
body {
	font-family: "PT Serif";
	min-height: 100vh;
}
nav {
	width: 100%;
	height: 5vh;
	background-color: #B5ABAE90;
	backdrop-filter: blur(5px);
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 5;
}
nav a {
	text-decoration: none;
	display: inline-block;
	width: 150px;
	text-align: center;
	color: #333;
	font-weight: 700;
}
nav a:nth-child(2) {
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
footer {
	width: 100%;
	height: 4vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #B5ABAE;
	position: fixed;
	left: 0;
	bottom: 0;

}
footer p {
	text-align: center;
	color: #eee;
}
section {
	width: 100%;
	max-width: 1600px;
	margin: 80px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.wrap {
	width: 80%;
	padding: 0 100px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.wrap .pic {
	margin: 5%;
	position: relative;
}
.front {
	width: 100%;
}
.front img {
	width: 100%;
}
.back {
	display: none;
}
.wrap .txt h1 {
	display: inline-block;
	font-size: 4rem;
	color: transparent;
	-o-text-stroke: 1px #999;
	-moz-text-stroke: 1px #999;
	-webkit-text-stroke: 1px #999;
	text-stroke: 1px #999;
}
.wrap .txt h2 {
	display: inline-block;
	padding: 0 10px;
	position: relative;
}
.wrap .txt h2::after {
	content: '';
	width: 150%;
	border-bottom: 2px solid #8B8A92;
	position: absolute;
	left: 30px;
	bottom: -20px;
}
.wrap .txt p{
	margin: 20px 0;
	line-height: 1.5;
}
.wrap>.txt p:first-letter {
	font-size: 2.5rem;
}
.wrap h2 {
	font-size: 2.5rem;
	color: #8B8A92;
}
.tool-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	column-gap: 5%;
	row-gap: 20px;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
}
.tool-item {
	width: 30%;
	max-width: 120px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tool-item i {
	font-size: 2rem;
	color: #fafafa;
	background-color: #8B8A92;
	padding: 15px 20px;
	border-radius: 200px;
}
.tool-item p {
	font-size: .8rem;
	margin-top: 10px;
	color: #333;
}
.project-item {
	width: 100%;
	margin-bottom: 50px;	
}
.project-item .pic {
	width: 100%;
	margin: 0;
	box-sizing: border-box;
}
.project-item .pic img {
	width: 100%;
	vertical-align: middle;
}
.project-item h5 {
	font-size: 1.2rem;
	color: #333;
}
.project-item p {
	font-size: .8rem;
	color: #666;
}
.project-item a {
	text-decoration: none;
	color: #eee;
	background-color: #B5ABAE;
	padding: 5px 15px;
	border: .5px double #B5ABAE;
}

.resume {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.resume .pic {
	width: 100%;
	margin: 0;
}
.resume .pic img {
	width: 100%;
}
.btn {
	display: flex;
	flex-direction: column;
}
.btn a {
	text-decoration: none;
	color: #fafafa;
	background-color: #B5ABAE;
	text-align: center;
	padding: 5px 30px;
	margin-top: 20px;
}
/* horizontal tablets */
@media all and (min-width: 768px) {
	nav {
		height: 8vh;
	}
	.project-item {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		border: .5px solid #999;
		padding: 20px 0;
	}
	.project-item .pic {
		width: 40%;
	}
	.project-item .txt {
		width: 50%;
	}
	.resume {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	.resume .pic {
		width: 50%;
	}
	.btn {
	}
	.btn a {
		padding: 5px 20px;
	}

}
/* desktops, large screens */
@media all and (min-width: 1024px) {
	.top {
		display: flex;
		flex-direction: row;
	}
	.top .pic {
		width: 50%;
	}
	.top .pic img {
		width: 80%;
	}
	.top .txt {
		width: 50%;
	}
	.front,
	.back {
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		position: absolute;
		top: -150px;
		left: 0;
		right: 0;
		botttom: 0;
		perspective: 5rem;
		transition: all .5s;
	}
	.back {
		transform: rotateY(-180deg);
		display: block;
	}
	.front img,
	.back img {
		width: 100%;
		vertical-align: middle;
	}
	.wrap .pic:hover .front {
		transform: rotateY(180deg);
	}
	.wrap .pic:hover .back {
		transform: rotateY(0);
	}
	nav a {
		transition: background-color .5s
	}
	nav a:hover {
		background-color: #fff;
	}
	.project {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.project-item {
		width: 45%;
	}
	.project-item .pic{
		width: 55%;
	}
	.project-item .txt {
		width: 35%;
	}
	.resume {
		display: flex;
		flex-direction: column;
	}
	.resume .pic {
		width: 40%;
	}
	.btn {
		width: 40%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	.btn a {
		width: 100px;
		transition: box-shadow .5s;
	}
	.btn a:hover {
		box-shadow: 5px 5px 20px #ccc;
	}
}



